@charset "UTF-8";
::-webkit-scrollbar{
    display: none;
}
header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1000;
    min-width: 800px;
}
body{
    position: relative;
    z-index: -1000;
    overflow-y: hidden;
}
section {
    position: relative;
    width: 500vw;
    z-index: -1000;
}

nav {
    float: right;
    text-align: center;

}

header>h1 {
    float: left;
    width: 120px;
    text-align: center;
    padding-top: 15px;

}

nav>ul {
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 70px;
    line-height: 70px;
}

nav>ul>li>a {
    display: block;
    width: 120px;
    height: 100%;
    font-size: 24px;
    font-family: "Nanum Pen Script";
    font-weight: 400;
}
#nav .view_page{
    color: #fff;
    position: relative;
}
#nav .view_page span{
    display: block;
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
}
#nav .view_page_orange{
    color: #fd7400;
    position: relative;
}
#nav .view_page_orange span{
    display: block;
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: #fd7400;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.page {
    position: relative;
    width: 100vw;
    min-width: 1400px;
    height: 100vh;
    font-family: "Nanum Pen Script";
    font-weight: 400;
    z-index: -100;
    float: left;
    overflow: hidden;
}

/* page1 */

#page1 {
    /* background: url(../images/main_bg.png) no-repeat center center; */
    overflow: hidden;
}

.page1_bg {
    position: absolute;
    width: 2000px;
    height: 2000px;
    z-index: -10
    ;
}

.page1_bg:nth-of-type(1){
    right: -1000px;
    top: -1400px;
    background: url("../images/main_yellow.svg") no-repeat center center;
    animation: drift 40000ms infinite linear;
}

.page1_bg:nth-of-type(2){
    left: -1100px;
    bottom: -1400px;
    background: url("../images/main_green.svg") no-repeat center center;
    animation: drift 40000ms infinite linear;
}
@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}
#page1>h1 {
    font-size: 7vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
}

#page1>h1::after,
#page1>h1::before {
    content: "Web Publisher";
    font-size: 7vw;
    position: absolute;
    top: 0;
    left: 0;

}

#page1>h1::before {
    transform: rotate(3deg) translateX(-.1vw);
    color: #1f8a70;
    z-index: -2;
}

#page1>h1::after {
    transform: rotate(-3deg) translateX(-.1vw);
    color: #fd7400;
    z-index: -2;
}

#page1>h1>span::after,
#page1>h1>span::before {
    content: "Portfolio";
    font-size: 7vw;
    position: absolute;
    left: 0;
}

#page1>h1>span::before {
    transform: rotate(3deg) translateX(-.1vw);
    color: #1f8a70;
    z-index: -2;
}

#page1>h1>span::after {
    transform: rotate(-3deg) translateX(-.1vw);
    color: #fd7400;
    z-index: -2;
}

/* page2 */

#page2 {

    padding-top: 140px;
}

#page2 .wrap {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 730px;
    margin: 0 auto 0 auto;
}

#page2 .page2_box {
    background: #fdfdfd;
    position: relative;
    padding: 10px 30px;
}

#page2 h3 {
    font-size: 30px;
    height: 30px;
}
#page2 #page2_left p{
    font-size: 22px;
}
#page2 #intro {
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
}

#page2 #chara {
    width: 400px;
    height: 400px;
}

#page2 #skill {
    width: 900px;
    height: 730px;
}

#page2 #page2_bg {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: url("../images/about_bg.png") no-repeat center center;
    background-size: 1560px 840px;
}

/* after, before content */
#page2 .page2_box::after,
#page2 .page2_box::before {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: -1;
}

#page2 .page2_box::after {
    border: 2px solid;
}

#page2 #intro::after {
    border-color: #1f8a70;
    transform: rotate(-3deg);
}

#page2 #chara::after {
    border-color: #fd7400;
    transform: rotate(3deg);
}

#page2 #skill::after {
    border-color: #bedb39;
    transform: rotate(-3deg);
}

#page2 #intro::before {
    background: #1f8a70;
    transform: rotate(3deg);
}

#page2 #chara::before {
    background: #fd7400;
    transform: rotate(-3deg);
}

#page2 #skill::before {
    background: #bedb39;
    transform: rotate(3deg);
}

#page2 #skill_bg{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 680px;
}
#page2 #skill_bg .skill_circle{
    position: relative;
}
#page2 #skill_bg #skill_cir_1{
    width: 210px;
}
#page2 #skill_bg #skill_cir_2{
    width: 360px;
}
#page2 #skill_bg #skill_cir_3{
    width: 270px;
}
#page2 #skill_bg .skill_circle .dot{
    width: 20px;
    position: absolute;
    left: 50%;
    
    transform: translateX(-50%);
}
#page2 #skill_bg .skill_circle .cir{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#page2 #skill_bg #skill_cir_1 .cir{width: 80px;height: 80px;background: rgba(31, 138, 112, .6);}
#page2 #skill_bg #skill_cir_1 #cir_1_1{left: 25px;}
#page2 #skill_bg #skill_cir_1 #cir_1_1_dot {
    background: url("../images/1.png") no-repeat;
    height: 55px;
    top: -55px;
}
#page2 #skill_bg #skill_cir_1 #cir_1_2{left: 65px;width: 110px;height: 110px;}
#page2 #skill_bg #skill_cir_1 #cir_1_3{left: 135px;}

#page2 #skill_bg #skill_cir_2 .cir{background: rgba(255, 166, 41, .6);}
#page2 #skill_bg #skill_cir_2 #cir_2_1{left: 20px;width: 110px;height: 110px;}
#page2 #skill_bg #skill_cir_2 #cir_2_1_dot{
    background: url("../images/2.png") no-repeat;
    height: 55px;
    bottom: -55px;
}
#page2 #skill_bg #skill_cir_2 #cir_2_2{left: 60px;width: 140px;height: 140px;}
#page2 #skill_bg #skill_cir_2 #cir_2_2_dot{
    background: url("../images/3.png") no-repeat;
    height: 35px;
    top: -35px;

}
#page2 #skill_bg #skill_cir_2 #cir_2_3{left: 160px;width: 80px;height: 80px;}
#page2 #skill_bg #skill_cir_2 #cir_2_3_dot{
    background: url("../images/4.png") no-repeat;
    height: 148px;
    bottom: -148px;

}
#page2 #skill_bg #skill_cir_2 #cir_2_4{left: 220px;width: 80px;height: 80px;}
#page2 #skill_bg #skill_cir_2 #cir_2_4_dot{
    background: url("../images/5.png") no-repeat;
    height: 107px;
    top: -107px;

}
#page2 #skill_bg #skill_cir_2 #cir_2_5{left: 285px;width: 60px;height: 60px;}
#page2 #skill_bg #skill_cir_2 #cir_2_5_dot{
    background: url("../images/6.png") no-repeat;
    height: 85px;
    bottom: -85px;
}

#page2 #skill_bg #skill_cir_3 .cir{background: rgba(189, 219, 67, .6);}
#page2 #skill_bg #skill_cir_3 #cir_3_1{left: 0px;width: 110px;height: 110px;}
#page2 #skill_bg #skill_cir_3 #cir_3_1_dot{
    background: url("../images/7.png") no-repeat;
    height: 55px;
    top: -55px;

}
#page2 #skill_bg #skill_cir_3 #cir_3_2{left: 45px;width: 140px;height: 140px;}
#page2 #skill_bg #skill_cir_3 #cir_3_2_dot{
    background: url("../images/8.png") no-repeat bottom;
    height: 120px;
    bottom: -120px;

}
#page2 #skill_bg #skill_cir_3 #cir_3_3{left: 155px;width: 60px;height: 60px;}
#page2 #skill_bg #skill_cir_3 #cir_3_3_dot{
    background: url("../images/9.png") no-repeat;
    height: 120px;
    top: -120px;

}
#page2 #skill_bg #skill_cir_3 #cir_3_4{left: 195px;width: 60px;height: 60px;}



#page2 #skill_bg #skill_bar{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    height: 16px;
    background: #fff;
}

/* skill bg end */

#page2 #skill_txt{
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    width: 840px;
    text-align: center;
    font-size: 18px;
}
#page2 #skill_txt .skill_txt_hold{
    position: relative;
    height: 680px;
}
#page2 #skill_txt #skill_txt1{
    width: 210px;
}
#page2 #skill_txt #skill_txt1 p{
    position: absolute;
    top: 180px;
    left: -20px;
    width: 180px;
}
#page2 #skill_txt #skill_txt2{
    width: 360px;
}
#page2 #skill_txt #skill_txt2 p{position: absolute; width: 180px;}
#page2 #skill_txt #skill_txt2 p:nth-of-type(1){left: -20px;top: 460px;}
#page2 #skill_txt #skill_txt2 p:nth-of-type(2){left: 45px;bottom: 450px;}
#page2 #skill_txt #skill_txt2 p:nth-of-type(3){left: 120px; top: 540px;}
#page2 #skill_txt #skill_txt2 p:nth-of-type(4){left: 180px;bottom: 500px;}
#page2 #skill_txt #skill_txt2 p:nth-of-type(5){left: 235px;top: 460px;}
#page2 #skill_txt #skill_txt3{
    width: 270px;
}
#page2 #skill_txt #skill_txt3 p{position: absolute; width: 180px;}
#page2 #skill_txt #skill_txt3 p:nth-of-type(1){left: -20px;bottom: 460px;}
#page2 #skill_txt #skill_txt3 p:nth-of-type(2){left: 30px;top: 540px;}
#page2 #skill_txt #skill_txt3 p:nth-of-type(3){left: 100px; bottom: 500px;}
#page2 #skill_txt h4{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}
/* page3 */

#page3 {
    background: #ffa629 url("../images/pg3_bg.png") no-repeat center center;
    padding-top: 130px;
}
#page3 .wrap{
    position: relative;
    width: 1180px;
    height: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#page3 .pof_hide {
    display: none;
}


#page3 .pof_1 {
    position: relative;
    width: 700px;
    height: 740px;
    background: #fff;
    padding: 34px;
    display: flex;
    justify-content: space-between;
}
#page3 .pof_1.pof_1effect::before, #page3 .pof_1.pof_1effect::after{
    content: "";
    width: 700px;
    height: 740px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -2;
    box-sizing: border-box;
}
#page3 .pof_1.pof_1effect::before{
    background: #fd7400;
    transform: rotate(3deg) translate(20px, 20px);
    transform-origin: left bottom;
}
#page3 .pof_1.pof_1effect::after{
    border: 3px solid #fff;
    transform: rotate(3deg) translate(0px, 0px);
    transform-origin: left bottom;
} 

#page3 .pof_2 {
    position: relative;
    width: 390px;
    height: 480px;
    background: #fff;
    padding: 24px 35px;
}
#page3 .pof_2.pof_2effect::before, #page3 .pof_2.pof_2effect::after{
    content: "";
    width: 390px;
    height: 480px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -2;
    box-sizing: border-box;
}
#page3 .pof_2.pof_2effect::before{
    background: #fd7400;
    transform: rotate(3deg) translate(10px, -30px);
    transform-origin: left bottom;
}
#page3 .pof_2.pof_2effect::after{
    border: 3px solid #fff;
    transform: rotate(-3deg) translate(0px, 0px);
    transform-origin: right top;
} 

#page3 .pof_1 .pof_left{
    display: block;
    position: relative;
    width: 370px;
    height: 500px;
}

#page3 .pof_1 .pof_right{
    width: 240px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#page3 .pof_1 .pof_right ul{
    margin-bottom: 20px;
}
#page3 .pof_1 .pof_right ul::after{
    content: "";
    display: block;
    clear: both;
}
#page3 .pof_1 .pof_right ul li{
    float: left;
    height: 20px;
    border-radius: 10px;
    background: #ffa629;
    padding: 0 8px;
    margin-right: 10px;
    margin-bottom: 4px;
    line-height: 20px;
    color: #fff;
    font-family: "Nanum Gothic";
    font-weight: 300;
    font-size: 14px;
}
#page3 .pof_1 .pof_right h3{
    font-size: 30px;
    margin-bottom: 20px;
}
#page3 .pof_1 .pof_right p{
    font-size: 20px;
}
#page3 .pof_1 .pof_right .pof_right_bottom{
    width: 200px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    background: #ffa629;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}

#page3 .pof_2 .pof_left{
    width: 320px;
    height: 430px;
    background: #666;
}
#page3 .pof_2 .pof_right{
    display: none;
}

#page3 #pof_page{
    position: absolute;
    left: 410px;
    bottom: 12px;
}
#page3 #pof_page a{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffa629;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
    overflow: hidden;
}
#page3 #pof_page a.on{
    background-color: #fd7400;
}
/* page4 */

#page4 {
    background: #fff7dd url("../images/pg4_bg.png") no-repeat center 60%;
}

#page4 .wrap {
    width: 1374px;
    margin: 0 auto;
    padding-top: 100px;
}

#page4 #filter h3 {
    font-size: 24px;
}

#page4 #filter ul {
    height: 50px;
}

#page4 #filter ul li {
    float: left;
    padding: 10px 0;
    margin: 0 20px 0 0;
    font-size: 20px;
}
#page4 #filter ul li a.view_page{
    color: #fd7400;
    position: relative;
}
#page4 #filter ul li a.view_page span{
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #fd7400;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
}
#page4 #gallery ul {
    height: 674px;
    overflow: hidden;
    padding: 12px;
}
.gal_content{
    display: none;
}
.gal_show{
    display: block;
}
#page4 #gallery ul li.gal_mr{
    margin-right: 0;
}
#page4 #gallery ul li {
    float: left;
    width: 300px;
    height: 300px;
    margin: 0 50px 50px 0;
    background: #fff;
    position: relative;
    padding: 20px;
}

/* transition: all .4s; */
#page4 #gallery ul li img{
    width: 260px;
    height: 260px;
    /* box-shadow: 2px 2px 4px rgba(60, 60, 60, .2); */
    margin: 0 auto;
}
#page4 #gallery ul li.gal_banner img{
    width: 260px;
    height: auto;
    vertical-align: middle;
}

#page4 #gallery ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    border: 2px solid ;
    box-sizing: border-box;
    transform: rotate(3deg) scale(1.02);
    z-index: -1;
}
#page4 #gallery ul li.gal_design::after{
    border-color: #1f8a70;
}
#page4 #gallery ul li.gal_event::after{
    border-color: #bedb39;
}
#page4 #gallery ul li.gal_banner::after{
    border-color: #ffe220;
}

/* page5 */

#page5 {
    padding-top: 130px;
}

#page5 #contact_bg {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

#page5 .wave {
    background: url("../images/wave2.svg") repeat-x;
    position: absolute;
    bottom: 0;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

#page5 .wave:nth-of-type(2) {
    background: url("../images/wave.svg") repeat-x;
    bottom: -25px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(5px);
    }
}

#page5 #contact_txt {
    width: 520px;
    height: 520px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff7dd;
    box-sizing: border-box;
    transform: skew(-6deg);
    position: relative;
}

/* #page5 #contact_txt #contact_txt_inner{
    transform: skew(6deg);
} */

#page5 #contact_txt #contact_txt_inner h3 {
    font-size: 24px;
}

#page5 #contact_txt #contact_txt_inner p {
    margin: 10px 0;
    font-size: 20px;
}

#page5 .contact_txt_bg {
    position: absolute;
    width: 520px;
    height: 520px;
    top: 0;
    z-index: -2;
}
#page5 #contact_txt_inner * {
    border-bottom: 2px solid #ffd396;
}
#page5 #contact_txt_bg1 {
    background: #ffcf8c;
    top: 120px;
    left: calc(50% - 240px);
    transform: skew(-6deg) rotate(-1deg);
}

#page5 #contact_txt_bg2 {
    border: 3px solid #ffa629;
    transform: skew(-6deg) rotate(3deg);
    top: 120px;
    left: calc(50% - 240px);
}